.card {
    background-color:  rgb(235, 195, 66);;
    height: 100px;
    width: 44%;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 24px;
}
.card strong{
    font-size: 18px;
}

.card img{
    width: 40px;
}